<div class="bg"></div>
<div class="container-fluid" style="height: 100vh">
  <div class="row">
    <div class="col-md-12 mt-2 mb-2 d-flex">
      <div style="margin-left: auto; z-index: 1">
        <div class="theme-btn">
          <span class="material-icons"> dark_mode </span>
        </div>
      </div>
    </div>
    <div class="col-md-12 d-flex logo-wrapper">
      <img
        src=".\assets\images\logo\logo.png"
        alt="logo"
        class="logo img-fluid"
      />
    </div>

    <div class="col-md-12 d-flex tagline">
      <p>deep dive to find the tech treasure !</p>
    </div>

    <div class="col-md-12 d-flex search">
      <input type="text" placeholder="Find your treasure here." />
    </div>
  </div>
</div>

<div style="z-index: 1; position: relative; margin-top: 30px">
  <app-card-groups></app-card-groups>
</div>
