.bg {
  clip-path: circle(73% at 0 11%);
  background: var(--theme-clip-bg);
  background: var(--theme-clip);
  width: 100%;
  height: 100%;
  position: absolute;
}
.logo-wrapper {
  align-items: center;
  position: relative;
  justify-content: center;
}
.logo {
  margin-top: 40px;
  max-height: 150px;
  width: auto;
}
.theme-btn-dark {
  align-items: center;
  position: relative;
  justify-content: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
  cursor: pointer;
}
.theme-btn-dark > span {
  font-size: 30px;
  transform: translate(10px, 10px);
}

.theme-btn-light {
  align-items: center;
  position: relative;
  justify-content: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: var(--dark-color);
  box-shadow: var(--box-shadow);
  cursor: pointer;
}
.theme-btn-light > span {
  font-size: 30px;
  color: var(--white-color);
  transform: translate(10px, 10px);
}

.tagline {
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.tagline > p {
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  color: var(--theme-text-color);
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.get-started-btn {
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.get-started-btn > .get-started {
  height: 40px;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  padding-left: 20px;
  padding-right: 20px;
  width: 254px;
  border-radius: 20px;
  font-size: 20px;
  color: var(--theme-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.4s all;
}
.get-started-btn > .get-started:hover {
  color: var(--text-hover-color);
  transform: scale(1.09);
  transition: 0.4s all;
}

.scroll {
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  bottom: -60px;
}

.scroll > span {
  font-size: 40px;
  color: var(--theme-text-color);
}

.card-group {
  position: relative;
  margin-top: 20px;
}
